name: Run Tests On Merge to Master

on:
  push:
    branches:
      - master
  workflow_dispatch: 

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2

    - name: Install Google Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Get Chrome version
      id: get_chrome_version
      run: |
        CHROME_VERSION=$(google-chrome-stable --version | awk '{print $3}' | cut -d '.' -f 1,2)
        echo "Chrome Version: $CHROME_VERSION"
        echo "::set-output name=chrome_version::$CHROME_VERSION"

    - name: Get ChromeDriver version
      id: get_chromedriver_version
      run: |
        CHROMEDRIVER_VERSION=$(curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
        echo "ChromeDriver Version: $CHROMEDRIVER_VERSION"
        echo "::set-output name=chromedriver_version::$CHROMEDRIVER_VERSION"

    - name: Download and Install ChromeDriver
      run: |
        wget https://chromedriver.storage.googleapis.com/${{ steps.get_chromedriver_version.outputs.chromedriver_version }}/chromedriver_linux64.zip
        unzip chromedriver_linux64.zip
        sudo mv chromedriver /usr/local/bin/chromedriver
        sudo chmod +x /usr/local/bin/chromedriver

    - name: Verify ChromeDriver installation
      run: |
        chromedriver --version

    - name: Install .NET 8.0
      run: |
        wget https://dot.net/v1/dotnet-install.sh -O dotnet-install.sh
        chmod +x dotnet-install.sh
        ./dotnet-install.sh --channel 8.0 --install-dir $HOME/.dotnet
        echo "$HOME/.dotnet" >> $GITHUB_PATH
        echo "$HOME/.dotnet/tools" >> $GITHUB_PATH
        echo "DOTNET_ROOT=$HOME/.dotnet" >> $GITHUB_ENV

    - name: Verify .NET installation
      run: |
        dotnet --version
        dotnet --list-runtimes

    - name: Restore and Build Project
      run: |
        dotnet restore
        dotnet build

    - name: Run Tests
      run: |
        dotnet test "GoogleSearchProject/GoogleSearchProject.csproj"
